* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f7fa;
    color: #333;
    line-height: 1.6;
}

/* ========================= */
/* Navigation */
/* ========================= */

nav {
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 18px 10%;

    background: white;

    box-shadow: 0 2px 10px rgba(0,0,0,.08);

    z-index: 1000;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #1f4e79;
}

.nav-links {
    display: flex;
    gap: 35px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #444;
    font-weight: 600;
    transition: .3s;
}

.nav-links a:hover {
    color: #1f4e79;
}

/* ========================= */
/* Main */
/* ========================= */

main {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

section {
    margin-bottom: 80px;
}

/* ========================= */
/* Hero */
/* ========================= */

.hero {
    display:flex;
    text-align: center;
    padding: 70px 0;
    gap: 100px;
}

.hero img {
    border-radius: 50%;
}

.hero h1 {
    font-size: 3rem;
    color: #1f4e79;
    margin-bottom: 15px;
}

.hero h3 {
    color: #666;
    font-weight: normal;
    margin-bottom: 25px;
}

.hero p {
    max-width: 700px;
    margin: auto;
}

/* ========================= */
/* Headings */
/* ========================= */

h2 {
    color: #1f4e79;
    margin-bottom: 20px;
}

/* ========================= */
/* Lists */
/* ========================= */

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* ========================= */
/* Links */
/* ========================= */

a {
    color: #1f4e79;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Responsive */

@media (max-width: 768px) {

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .hero h1 {
        font-size: 2.2rem;
    }

}
